<div class="td-apachefooter mt-3 py-4 bg-secondary">
    <div class="container-fluid">
        <div class="row mx-md-2">
            <!-- Left: Apache License -->
            <div class="col-12 col-md text-white small">
                <div class="apache-license-text">
                    © {{ now.Year }} The Apache Software Foundation. <br><br>
                    Apache Texera (Incubating), Apache, Texera, the Texera logo, and the Apache
                    logo are either registered trademarks or trademarks of
                    <a href="https://apache.org/" target="_blank" rel="noopener">The Apache
                    Software Foundation</a>. All other products or name brands are trademarks
                    of their respective holders, including The Apache Software Foundation.
                </div>
            </div>

            <!-- Right: Apache links -->
            <div class="col-12 col-md-auto text-md-end small apache-links">
                <a href="https://www.apache.org/licenses/" target="_blank" rel="noopener">License</a> |
                <a href="https://www.apache.org/foundation/sponsorship.html" target="_blank" rel="noopener">Donate</a> |
                <a href="https://events.apache.org/" target="_blank" rel="noopener">Events</a> |
                <a href="https://www.apache.org/foundation/thanks.html" target="_blank" rel="noopener">Thanks</a> |
                <a href="https://www.apache.org/security/" target="_blank" rel="noopener">Security</a> |
                <a href="https://privacy.apache.org/policies/privacy-policy-public.html" target="_blank" rel="noopener">Privacy</a> |
                <a href="https://airflow.apache.org/code-of-conduct/" target="_blank" rel="noopener">Code of Conduct</a>
            </div>
        </div>
    </div>
</div>
