{{/* layouts/partials/apache_footer.html */}}

{{ $lang := .Site.Language.Lang }}
{{ $langData := index .Site.Data $lang }}
{{ $links := $langData.apache_links.links }}

<div class="td-apachefooter mt-3 py-4 bg-secondary">
    <div class="container-fluid">
        <div class="row mx-md-2">

            <!-- Left: Apache License (i18n enabled) -->
            <div class="col-12 col-md text-white small">
                <div class="apache-license-text">

                    <!-- copyright line -->
                    {{ i18n "apache_footer_copyright" (dict "Year" (now.Year)) }}
                    <br><br>

                    <!-- trademark paragraph -->
                    {{ i18n "apache_footer_trademark" | safeHTML }}
                </div>
            </div>

            <!-- Right: Apache links (data-driven) -->
            <div class="col-12 col-md-auto text-md-end small apache-links">
                {{ with $links }}
                {{ range $i, $link := . }}
                {{ if gt $i 0 }} | {{ end }}
                <a href="{{ $link.url }}" target="_blank" rel="noopener">
                    {{ $link.name }}
                </a>
                {{ end }}
                {{ end }}
                <br><br>
                <div class="apache-license-text">
                    {{ i18n "apache_footer_disclaimer" | safeHTML }}
                </div>
            </div>

        </div>
    </div>
</div>
